<div class="po-wrapper">
  <!-- Layout com menu -->
  <div class="h-screen overflow-hidden" *ngIf="shouldShowMenu()">
    <app-menu (menuToggled)="onMenuToggled($event)"></app-menu>
    <div class="h-full overflow-hidden transition-all duration-300"
         [class.ml-16]="menuCollapsed && !isMobile"
         [class.ml-80]="!menuCollapsed && !isMobile"
         [class.ml-0]="isMobile">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Router outlet sem menu (login, change-password, error) -->
  <router-outlet *ngIf="!shouldShowMenu()"></router-outlet>
</div>
<app-language-block [blocked]="blocked"></app-language-block>