<!-- language-block.component.html -->
<div
  *ngIf="blocked"
  class="absolute inset-0 bg-black/80 flex items-left justify-start z-50"
>
  <div class="bg-white p-6 rounded-r-3xl shadow-lg text-center max-w-xs mt-3 h-48 w-80">
    <h2 class="text-xl text-center font-bold mb-2">Acesso Restrito</h2>
    <p class="mb-4 text-gray-700">
      Este site só pode ser acessado em português do Brasil (pt-BR).
    </p>
    <button
      class="bg-[#1A4E79] hover:bg-[#034275] text-white px-8 py-2 rounded-lg"
    >
      Ok
    </button>
  </div>
</div>
